/*
--------------------------------------------
* Ersteller: Luca Bianchi;
* Projekt: DFMV;
* Inhalt: 1. header, 2. main, 3. footer, 
		  4. overriding bootstrap, 5.Editor;
--------------------------------------------
--------------------------------------------
--------------------------------------------
1. HEADER STYLING                         */
#header-navbar {
	background-image: linear-gradient(#183D83, #051760);
	min-height: 30px;
}
#header-logo {
	position: relative; 
	height: 55px; 
	width: 55px; 
	top: -18px;
	pointer-events: none;
}
.navbar-inverse .navbar-nav > li > a {
	text-transform: uppercase;
	font-weight: 200;
	position: relative;
	color: #FFF;
	text-decoration: none;
}
/*animierte Linie welche beim hoover über einen Navigationspunkt erscheint*/
.header-text-style:before {
	content: "";
  	position: absolute;
 	width: 100%;
  	height: 1px;
  	bottom: 0;
 	left: 0;
 	margin-bottom: 15px;
 	background-color: #FFFFFF;
  	visibility: hidden;
  	transform: scaleX(0);
  	transition: all 0.3s ease-in-out 0s;
}
.header-text-style:hover:before {
	visibility: visible;
  	transform: scaleX(1);
}
#login {
	margin-right: 80px;
}
#logout {
	margin-right: 80px;
}
/*END OF HEADER STYLING
-----------------------
2. MAIN STYLING     */
/*Schriftart theSans von Swisscom einbinden*/
@font-face {
font-family: "theSans";
src: url("../fonts/TheSansB_300_Light/TheSansB_300_.eot");
src: url("../fonts/TheSansB_300_Light/TheSansB_300_.eot?#iefix") format("embedded-opentype"),
url("../fonts/TheSansB_300_Light/TheSansB_300_.svg#TheSansB_300_") format("svg");
font-weight: normal;
font-style: normal;
}

hr {
	border-top:1px solid #bababa;
}
a{
	font-weight: bold;
	color: #2d90ec;
	text-decoration: none;
}
a:hover{
	color: #2d90ec;
	text-decoration: none;
}
html {
    position: relative;
    min-height: 100%;
}
body {
	font-family: theSans, Verdana, sans-serif;
	text-rendering: optimizeLegibility;
	background-color: #fff;
  	width: 100%;
  	margin-top: 80px;
  	margin: 0 0 80px; /*80px damit der Footer passt!*/
  	padding-top: 80px;
  	padding-bottom: 20px;
  	color: #5e5555;
}
body::after {
	content: "";
	background-image: url("../../APP/PICS/HG_Luca.svg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.15;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
 }
#login-box {
	padding-left: 190px;
	padding-right: 190px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url("../../APP/PICS/Logo-DFMV.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
}
#login-content {
	border: 1px solid #bababa;
    border-radius: 5px;
    background-color: #F3F3F3;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin-left: -150px;
	margin-right: 190px;
}
.table-div {
	border: 1px solid #bababa;
    border-radius: 5px;
    padding: 20px;
    background-color: #F3F3F3;
    margin: 20px;
}
#manage {
	left: 55px;
}
#requests {
    margin: -20px;
    margin-top: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
}
#invitings {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
}
/*END OF BODY STYLING
---------------------
3. FOOTER STYLING.*/
#footer {
	background: #F3F3F3;
	background-image: url("../../APP/PICS/SCwave.png");
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: right;
    background-position-y: 22px;
	padding-top: 2%;
	padding-bottom: 2%;
    height: 80px; /*When changing this Value, change also margin-value from body*/
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
#footer-gradient {
	width: 100%;
    height: 10px;
    margin-top: -2%;
    background-image: linear-gradient(#E8E8E8, #F3F3F3);
}
#footer-container {
	margin-top: 1.5%;
}
.footer-text {
	color: #666;
	text-transform: uppercase;
	font-weight: lighter;
	text-decoration: none;
}
.footer-link:active {
	color: #2d90ec;
	border-color: #2d90ec;
	text-decoration: none;
}
.footer-link:visited {
	color: #666;	
	border-color: #666;
	text-decoration: none;
}
.footer-link:link {
	color: #666;	
	border-color: #666;
	text-decoration: none;
}
.footer-link:hover {
	color: #2d90ec;
	border-color: #2d90ec;
	text-decoration: none;
    transition: 0.3s;
}
.footer-link {
	padding-right: 5px;
	padding-left: 5px;
	margin-right:15px;
	border-width: 1px;
	border-color: #666;
	border-style: solid;
	color: #666;
	text-decoration: none;
}
/*END OF FOOTER STYLING
-------------------------
4. OVERRIDING BOOTSTRAP*/
.navbar-inverse {
	border-color: #333;
	color: #CCCCCC;	
}
.form-control {
	background-color: #f5f5f5;
    border: 1px solid #5e5555;
    border-radius: 5px;
    margin:2px;
    color: #333;
    font-size: 13px;
}
.form-control:focus {
  	border-color: #5e5555;
  	color: #5e5555;
}
.btn-default {
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    background: linear-gradient(to bottom,#41b7fd,#0165d4);
}
.btn-default:hover {
	background-color: #333333;
	color: #FFFFFF;
	border-color: #FFFFFF;
}
.label-default {
	background-color: #5e5555;
	color: #FFF;
}
.fat-black-border {
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 20px;
    background-color: #F3F3F3;
}
/*END OF OVERRIDING BOOTSTRAP
-----------------------------
5. EDITOR STYLING			*/
#panel {
    background-color: #fff;
    width: 300px;
    height: 500px;
    border-radius: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: #545454;
    display: inline-block;
}
#paper {
    background-color: #ccc;
    width: 700px;
    height: 500px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #545454;
    display: inline-block;
}
/*END OF EDITOR STYLING		*/