<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1> Kontakt </h1>
      <hr></hr>
      <div>
        <p> 
          <h4>Technischer Support oder bei fragen über dqm.scapp.io</h4><br>
          Schreibe eine E-Mail an: <a href="mailto:luca.bianchi@swisscom.com?subject=DFMV-Kontaktmail">luca.bianchi@swisscom.com </a>
        </p><br>
        <p> 
          <h4>Bei Fragen zu Data Quality Management und Data Flow Maps:</h4><br>
          Schreibe eine E-Mail an: <a href="mailto:sebastian.salvisberg@swisscom.com?subject=DFMV-Kontaktmail">sebastian.salvisber@swisscom.com </a>
        </p>
      </div>
    </div>
  </div>
</div>