<div class="container">
  <div class="row">
    <div class="col-lg-12">
	  <h1> Help </h1>
      <hr></hr>
      <div>
        <p> 
        	Klicke <a href="#">hier</a> um das Benutzerhandbuch zu downloaden.
      	</p>
      </div>
    </div>
  </div>
</div>