<main>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 "></div>
			<div class="col-lg-4 text-center">
				<h1>Impressum	<br><small>Swisscom (Schweiz) AG</small></h1><br>
				<h3>Hauptsitz			<br><small>Ittigen</small></h3><br>
				<h3>Adresse		<br><small>Swisscom (Schweiz) AG<br>Alte Tiefenaustrasse 6<br>3050 Bern<br>Schweiz</small></h3><br>
				<h3>Telefon			<br><small>+41 (0) 800 800 800</small></h3><br>
				<h3>E-Mail				<br><small><a href="mailto:contact.center@swisscom.com">contact.center@swisscom.com</a></small></h3><br>
			</div>
			<div class="col-lg-4 "></div>
		</div>
    </div>
</main>