<div class="container">
  <div class="row body-content-row">
    <div class="col-lg-12">
      <h1> Data Flow Map Notation<small> </h1>
      <hr></hr>
      <div>
        <p> 
          <h4>Aus was besteht eine Data Flow Maps?</h4>
          Eine Data Flow Map kann aus vier verschiedene Elementen erstellt werden:  <span class="label label-default">Prozesse</span> <span class="label label-default">Systeme</span> <span class="label label-default">Datenobjekte</span> <span class="label label-default">Datenattribute</span>.<br><br> Mithilfe von Verbindungspfeilen verbindet man die einzelnen Datenattribute miteinander.
          Der DFMV bietet ausserdem die Möglichkeit Kommentare direkt mit den Elementen zu verbinden.

          <h4>Welche Informationen beeinhalten Data Flow Maps?</h4>

          <p>Folgende Informationen werden jeweils in den Elementen abgespeichert:</p> 
          <img src="../PICS/DFM-elements.png" style="width:100%; height:100%;">
          <br><br>
          <h4>Wie sieht eine Data Flow Map aus?</h4>
          <p>Um ein besseres Verständnis für die DFM zu bekommen sollte diese simple Test-DFM helfen.</p>
          <img src="../PICS/DFM-example.png" style="width:100%; height:100%;">
        </p>
      </div>
    </div>
  </div>
</div>
