<main id="main">
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12">
        <h1> Administratoren Seite</h1>
        <hr></hr>
        <div class="col-lg-12 table-div"id="self">
          <h2>Benutzerverwaltung</h2>
          <p>In der folgenden Tabelle können Benutzer gelöscht, blockiert und freigeschaltet werden.</p>
           <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Vorname</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Admin</th>
                  <th>Berechtigen /<br>Degradieren</th>
                  <th>Blockiert</th>
                  <th>Freigeben /<br>Blockieren</th>
                  <th>Löschen</th>
                </tr>
              </thead>
              <tbody>
                <?php
                  include '../PHP/tables/admin_management.php';
                ?>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12"><hr></div>
        <div class="col-lg-12 table-div"id="self">
            <h2>Deine DFMs</h2>
            <p>In der folgenden Tabelle sind alle selbsterstellten DFMs aufgelistet.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>DFM-ID</th>
                  <th>Name</th>
                  <th>Ersteller</th>
                  <th>Anzeigen</th>
                  <th>Bearbeiten</th>
                  <th>DFM Löschen</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/both_selfmade.php';
                  ?>
              </tbody>
            </table>
            <a href="page-dfm-editor.php"><button name="createDFM" class="btn btn-default">Neue DFM</button></a>
          </div>
          <div class="col-lg-12 table-div" id="cowork">
            <h2>DFM-Collaboration</h2>
            <p>In der folgenden Tabelle sehen sie alle DFMs bei welchen sie mitarbeiten.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>DFM-ID</th>
                  <th>Name</th>
                  <th>Ersteller</th>
                  <th>Anzeigen</th>
                  <th>Bearbeiten</th>
                  <th>DFM löschen</th>
                  <th>Mitarbeit Beenden</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/admin_cowork.php';
                  ?>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12 table-div" id="all">
            <h2>DFM-Pool</h2>
            <p>Hier ist eine Übersicht über alle Data Flow Maps im DFMV welche nicht von dir erstellt wurden und in denen du nicht mitarbeitest. diese DFMs kannst du nur anschauen. Ausserdem kannst du den Ersteller der DFM bitten bei dieser DFM mitzuarbeiten.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>DFM-ID</th>
                  <th>Name</th>
                  <th>Ersteller</th>
                  <th>Anzeigen</th>
                  <th>Bearbeiten</th>
                  <th>DFM Löschen</th>
                  <th>Anfragen zum Mitarbeiten</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/admin_all.php';
                  ?>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 table-div" id="invite">
            <h2>Einladen</h2>
            <form action="../PHP/functions/invitation.php" method="POST" >
              <p>wählen sie die DFM aus, auf welcher sie andere Benutzer zur mitarbeit einladen möchten:</p>
              <?php
                include '../PHP/tables/fill-dfm-dropdown.php';
              ?>
              <br><br><p>wählen sie den Benutzer aus den sie anfragen möchten:</p>
              <?php
                include '../PHP/tables/fill-user-dropdown.php';
              ?>
              <br><br>
              <button type="submit" name="requestCoworker" class="btn btn-default">Mitarbeiter anfragen</button>
            </form>
          </div>
          <div class="col-lg-7 table-div" id="manage">
            <h2>Mitarbeiter verwalten</h2>
            <p>in der folgenden Tablle können die bestehenden mitarbeiter der verschiedenen DFMs verwaltet werden.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Name DFM</th>
                  <th>Name des Mitarbeiters</th>
                  <th>Entfernen</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/manage_coworker.php';
                  ?>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12"><hr></div>
          <div class="col-lg-6 table-div" id="invitings">
            <h2>Einladungen</h2>
            <p>Wenn jemand Sie einlädt um bei einer DFM mitzuarbeiten, wird die Anfrage in der Nachfolgenden Tabelle erscheinen. Bestätigen Sie die Anfrage oder lehnen Sie sie ab, sobald eine vorhanden ist.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Einladung von: </th>
                  <th>Einladung für:</th>
                  <th>Annehmen</th>
                  <th>Ablehenen</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/invitation.php';
                  ?>
              </tbody>
            </table>
          </div>
          <div class="col-lg-6 table-div" id="requests">
            <h2>Anfragen</h2>
            <p>Wenn jemand bei Ihrer DFM mitarbeiten möchte, wird die Anfrage in der Nachfolgenden Tabelle erscheinen. Bestätigen Sie die Anfrage oder lehnen Sie sie ab, sobald eine vorhanden ist.</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Anfrage von:</th>
                  <th>für die DFM:</th>
                  <th>annehmen</th>
                  <th>ablehenen</th>
                </tr>
              </thead>
              <tbody>
                  <?php
                    include '../PHP/tables/requests.php';
                  ?>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12"><hr></div>
      </div>
    </div>
  </div>
</main>