<main>
  <div class="container">
    <h1> Data Flow Map Viewer </h1>
    <hr>
    <div class="row">
      <div id="panel" class="col-lg-4"></div>
      <div id="paper" class="col-lg-8"></div>
      <div id="paper-small" class="col-lg-12"></div>
    </div>
    <hr>
    <div class="col-lg-4 fat-black-border">
      <form action="../PHP/database/register.php" method="POST" id="registration-form">
      <p>Geben sie der DFM einen Namen</p>
      <input type="text" class="form-control" id="DFM-name" name="DFM-name" placeholder="DFM-Name">
      <p>Geben sie eine Beschreibung für die DFM ein</p>

      <textarea>
      Beschreibung
      </textarea>
          <br>
          <button id="submit" type="submit" name="submit" class="btn btn-default pull-right">Speichern</button>          
        </form>
    </div>
  </div>
</main>