    <footer id="footer">
    	<div id="footer-gradient"></div>
		 	<div class="container" id="footer-container">
				<div class="row">
				  	<div class="col-lg-6 text-center">
			    		<a id="help" href="#" class="footer-link footer-text">Hilfe</a>
				    	<a id="contact" href="#" class="footer-link footer-text">Kontakt</a>
				    	<a id="impressum" href="#" class="footer-link footer-text">Impressum</a>
				    	<a id="AboutUs" href="https://www.swisscom.ch/de/about.html" class="footer-link footer-text">Über uns</a>
				    </div>
				    <div class="col-lg-6 text-center" id="copyright">
				  		<span class="footer-text">&copy Copyright Swisscom Schweiz AG 2016</span>
				  	</div>
				</div>
			</div>
    </footer>