  <body>    
  <header id="header">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="header-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../PHP/page-home.php" id="brand_c">
            <object type="image/svg+xml" data="../PICS/Logo-DFMV.svg" id="header-logo"></object> 
          </a>
        </div> 
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
               <a href="../PHP/page-home.php" class="header-text-style" id="landingpage">Data Flow Map Viewer</a>
           </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="header-language-box">
            <li>
              <a href="../PHP/page-login.php" class="header-text-style" id="login">Login</a>
            </li>
          </ul>
        </div>          
      </div>
    </nav>
    </header>
