  <body>
    <header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../PHP/page-admin.php" id="brand_u">
            <object type="image/svg+xml" data="../PICS/Logo-DFMV.svg" id="header-logo"></object> 
          </a>
        </div> 
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="../PHP/page-admin.php" class="header-text-style" id="overview">Admin<span class="sr-only nav-button-overview">(current)</span></a>
            </li>
            <li>
              <a href="#" class="header-text-style" id="notation">Notation</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" id="header-language-box">
            <li>
              <a href="sessions/logout.php" class="header-text-style" id="logout">Logout</a>
            </li>
          </ul>
        </div>          
      </div>
    </nav>
  </header>
<div id="scripts"></div>