<main id="main">
    <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1> Data Flow Map Viewer </h1>
        <div>
          <p> 
            Der Data Flow Map Viewer ist ein Diagramm Tool welches sich auf das visualisieren von Datenflüssen zwischen Systemen Spezialisiert hat.<br>
            <br>
            In der heutigen Zeit gibt es immer mehr Daten und Systeme. Aufgrund dieses wachstums wird es immer schwieriger einen Überblick zu behalten. Dieser Überblick ist jedoch hilfreich in vielen Situationen:
            <ul>
              <li><span class="label label-default">Analysearbeiten</span></li>
              <li><span class="label label-default">Datenqualitätssicherstellung</span></li>
              <li><span class="label label-default">Einarbeitung/Schulungszweck</span></li>
              <li><span class="label label-default">Präsentationen</span></li>
              <li><span class="label label-default">Verbesserungs-, erweiterungs- arbeiten</span></li>
              <li><span class="label label-default">Dokumentation</span></li>
              <li><span class="label label-default">etc...</span></li>
            </ul>
            <br>
            Mithilfe des Data Flow Map Viewer kannst du ein übersichtliches Diagramm (<strong>Data Flow Map</strong>) mit den wichtigsten Informationen zu Daten und Systemen erstellen. Da es bisher keine Diagramme in dieser Art gibt und somit auch keine Notation für dieses Diagramm besteht, wurde eine Notation vom Data Quality Management Tam der Swisscom erstellt.(mehr zur Notation erfährst du sobald du registriert bist.)
          </p>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3 form-group fat-black-border">
        <h1> Registration </h1>
        <p> Um den Data Flow Map Viewer zu benutzen müssen sie sich Registrieren. Falls Sie bereits ein registrierter User sind klicken Sie <a href="../PHP/page-login.php">hier</a>. </p>
        <form action="../PHP/database/register.php" method="POST" id="registration-form">
          <input type="text" class="form-control" id="register-prename" name="prename" placeholder="Vorname">
          <input type="text" class="form-control" id="register-name" name="name" placeholder="Name">
          <input type="email" class="form-control" id="register-email" name="email" placeholder="Email">
          <input type="email" class="form-control" id="register-email-repeat" name="email_repeat" placeholder="Email wiederholen">
          <input type="password" class="form-control" id="register-pw" name="password" placeholder="Passwort">
          <input type="password" class="form-control" id="register-pw-repeat" name="password_repeat" placeholder="Passwort wiederholen">
          <br>
          <button id="submit" type="submit" name="submit" class="btn btn-default pull-right">Registrieren</button>          
        </form>
      </div>
    </div>
  </div>
  </main>  