<main id="main">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-9 col-lg-offset-1">
	      <div id="registrationsInfo">
	      <h2> Info </h2>
	      <p>Die Registration war erfolgreich! bitte warten sie auf das Bestätigungsmail des Administrators, dieser muss ihre registration erst Prüfen und sie Freigeben bevor sie sich einloggen können.</p>
	      </div>
	    </div>
	  </div>
	</div>
</main>