<main id="main">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-9 col-lg-offset-1">
	      <div id="registrationsInfo">
	      <h2> Info </h2>
	      <p>Es wurde bereits eine Anfrage versendet.</p>
	      </div>
	    </div>
	  </div>
	</div>
</main>